@page "/bpreadings/create"

@inject IBPReadingRepository repository
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h4>BPReading</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="BPReading" OnValidSubmit="AddBPReading" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="datetaken" class="form-label">Date Taken:</label> 
                <InputDate id="datetaken" @bind-Value="BPReading.DateTaken" class="form-control" /> 
                <ValidationMessage For="() => BPReading.DateTaken" class="text-danger" /> 
            </div>

            <input type="time" @bind="BPReading.TimeTaken" @bind:event="oninput" />

            <div class="mb-3">
                <label for="systolic" class="form-label">Systolic:</label> 
                <InputNumber id="systolic" @bind-Value="BPReading.Systolic" class="form-control" /> 
                <ValidationMessage For="() => BPReading.Systolic" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="diastolic" class="form-label">Diastolic:</label> 
                <InputNumber id="diastolic" @bind-Value="BPReading.Diastolic" class="form-control" /> 
                <ValidationMessage For="() => BPReading.Diastolic" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="heartrate" class="form-label">HeartRate:</label> 
                <InputNumber id="heartrate" @bind-Value="BPReading.HeartRate" class="form-control" /> 
                <ValidationMessage For="() => BPReading.HeartRate" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/bpreadings">Back to List</a>
</div>

@code {

    [SupplyParameterFromForm]
    public BPReading BPReading { get; set; } = new();

    // To protect from overposting attacks, see https://aka.ms/RazorPagesCRUD
    public async Task AddBPReading()
    {
        // using var context = DbFactory.CreateDbContext();
        await repository.AddAsync(BPReading);
        NavigationManager.NavigateTo("/bpreadings");
    }
}
